<!-- Componente Header -->
<header class="header center shadow fixed">
    <!-- Logo -->
  <div class="header__brand">
      <a title="Volver al Inicio">
          <img class="header__logo" src="assets/img/Latam.svg" alt="Logo Latam" width="100">
          <h1 class="header__titulo">Latam - Astral</h1>
      </a>
  </div>

  <div class="header__sesion">
    <!-- Navbar Menu -->
    <ul class="nav-menu">
      <!-- Logout -->
      <li class="nav-item">
        <a href="#" class="nav-link"> 
          <i class="mdi mdi-account"></i>
          <span>Salir</span>
        </a>
      </li>
    </ul>
  </div>
</header>